<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit> <!--changed the name of variable we are binding to-->
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h2>Uploaded server content below</h2>
      <!-- <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button> -->
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
      <app-server-element *ngFor="let serverElement of serverElements" 
      [srvElement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
      <!-- [element]="serverElement"></app-server-element> --> <!--When not using custom name for property binding-->
    </div>
  </div>
</div>
